.adduserbutton{
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #4caf51;
    float: right;
    right: 40pt;
    display: inline-block;
    text-align: center;
    line-height: 5.4em;

}
.adduserbuttonicon {
    font-size: 30px;
    color: white;
    opacity: 0.4;
    transition: opacity 1.3s;
}
.adduserbutton:hover .adduserbuttonicon {
    font-size: 30px;
    opacity: 1;
}

