.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    width: 50vw;
    height: 50vh;
    display: flex;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    postion: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.closeIcon {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    justify-content: flex-end;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 12px;

}
