.adduserbutton{
    position: fixed;
    bottom: 10%;
    z-index: 1;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #4caf51;
    float: right;
    right: 40pt;
    display: inline-block;
    text-align: center;
    line-height: 5.4em;
}
.adduserbuttonicon {
    font-size: 30px;
    color: white;
    opacity: 0.4;
    transition: opacity 1.3s;
}
.adduserbutton:hover .adduserbuttonicon {
    font-size: 30px;
    opacity: 1;
}
.adduserbuttonform{
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #4caf51;
    float: right;
    right: 40pt;
    display: inline-block;
    text-align: center;
    line-height: 5.4em;
    border: 0;
}
.adduserbuttonformicon {
    font-size: 30px;
    color: white;
    opacity: 0.4;
    transition: opacity 1s;
}
.adduserbuttonform:hover .adduserbuttonformicon {
    font-size: 30px;
    opacity: 1;
}

.removebutton {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 10px;
}
